
.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--clr--fnd-header);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo_ppal{
    position: relative;
    right: 70px;
    left: 0;
    max-width: 150px;
    max-height: 150px;
    opacity: 90%;
    margin: 15px;
}

.img-logo{

    width: 50%;
}


.enlace-header {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 800;
    color: var(--clr-blue);
    text-decoration: none;    
    padding: 1.5em ;
    padding-bottom: 0;
    margin: 0;
    transition: all .5s ease;

}

.enlace-header:hover{
    color: var(--clr--blueDark);
    font-weight: 800;
    border-bottom: 2px solid var(--clr-blue);
}

.header .navigation ul li{
    float: left;
    position: relative;
    top: 0;
    margin: 10px;
}

.header .navigation ul li a{
    display: block;
    transition: all .5s ease;
}





.header .navigation ul li ul{
    position: absolute;
    right: 20px;
    width: 100%;
    display: none;
}


.submenu {
    position: absolute;
    top: 50px;
    right: 80px;
    margin-right: 55px;
    margin-top: 10px;
    background-color: #7d0b0b;
}


.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul{
    display: initial;
    background-color: #fff;
}


#toggle-menu,
.header label{
    display: none;
    cursor: pointer;
}

.menu_cabecera{
    width: 2.8em;
}

