/*contenedor, envoltura del catalogo*/
.titulo-cabecera{
    display:grid;
    justify-items: center;
    font-size: var(--font-size-titulo-principal);
    font-weight: 700;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-blue-light);
    width: 98vw;
}
/*menu lateral*/
.contenedor-menu-lateral {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-blueDark);
    position: sticky;
    top: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}
/* wraper contenedor de menu lateral y catalogo de productos */


/* menu lateral */


.menu-lateral {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



/*boton menu lateral*/
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-blueDark);
    cursor: pointer;
    display: flex;
    align-items: stretch;
    /* gap: 1rem; */
    font-weight: 600;
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
}
/**/
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-blue);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    top:5px;
    right: 30px;
    left: 0;
    width: 100%;
}
/*efectos de las franjas del menu lateral*/
.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}
/*iconos manitos que miren hacia la izq*/
.menu-lateral i .bi-arrow-bar-right{
    color:black;
    width: 100px;
}


.boton-carrito {
    width: 10em;
    background-color: var(--clr-gray);
    color: var(--clr-blue);
    margin-top: 1em;
    border: 1px solid var(--clr-blue);
    border-radius: 0.8em;
    display: grid;
    align-items: center;
    justify-items: center;
}

.numerito {
    background-color: var(--clr-blue-light);
    color: var(--clr-white);
    font-size: 1.5em;
    font-weight: 800;
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

.catalogo {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3.2rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    grid-area: productos;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(3, minmax(auto,1fr)) ;
    justify-items: center;
    align-items: center;
}

.producto{
    display: grid;
    gap: 5px;
    grid-row: span 6;
    grid-template-rows: 21em 1fr 1fr 1fr 1fr;
    grid-template-rows: subgrid;
    justify-items: center;
    align-items: center;
}

.producto-imagen {
    width: 15em;
    height: 20em;
    border: 5px solid var(--clr-blue-light);
    border-radius: 0.9375rem;
    box-shadow: var(--clr--bx-shadow)
}

.producto-imagen:hover{
    transition: .3s, ease-in-out;
    transform: scale(1.02);
}

.producto-detalles {
    background-color: var(--clr-gray);
    color: var(--clr-black);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: .25rem;
}

.producto-titulo {
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.producto-descripcion{
    width: 12em;
    height: 6em;
    margin: auto;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    text-transform: unset;
}

.producto-precio{
    width: 10em;
    padding: 0.2em;
    margin: auto;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border: 5px solid var(--clr-blue-light);
    border-radius: 25px;
    
}

/*boton agregar producto al carrito*/
.btnAgregarProducto{
    width: 15em;
    margin: auto;
    margin-bottom: 0px;
    border: 2px solid var(--clr-blue-light);
    border-radius: 25px;
    box-shadow: 2px 5px 20px rgba(0,0,0, 1.27);
    font-weight: 800;
    background-color: var(--clr-blue-light);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btnAgregarProducto:hover{
    background-color: var(--clr-blue);
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.911);
    font-weight: 400;
}




.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}
/*disabled es lo que vamos a ocultar*/
/* .disabled {
    display: none;
} */

/*** MEDIA QUERIES ***/

