@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-black-trns:rgba(1, 1, 1, 0.7);
    --clr-black: rgba(0,0,0);
    --clr-blue: rgb(74, 51, 168);
    --clr-blue-light: rgb(120, 92, 232);
    --clr-white: rgb(255, 255, 255);
    --clr-gray: rgb(245, 245, 245);
    --clr-red: rgb(150, 23, 23);
    --clr-logo:rgb(167, 37, 89);
    --clr-img-fondo:rgb(242, 239, 235) ;
    --clr--fnd-header:rgba(121, 93, 233, 0.5)
}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: var(--clr-img-fondo);
    }
a {
    text-decoration: none;
}

ul li{
    list-style: none;
}



.contenedor{
    width: 1300px;
    position: relative; 
    left: 0;
    right: 0;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas:
                        "banner     banner    banner"
                        "productos  productos productos"
                        "footer     footer    footer";

    justify-content: space-between;
    align-content: space-between;                    
}


.banner{
    grid-area: banner;
    width: 100%;
}

.contenedor__img-banner{
    padding: 20px ;
}
.banner__img{
    width: 80%;
}


/*BOTONES  EN EL CATALOGO para subir al comienzo del catalogo*/
.boton-flecha{
    background-color: var(--clr-blue-light);
    border: 2px solid var(--clr-blue);
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 1000;
    width: 80px;
    height: 40px;
    font-size: 0.5em;
    text-align: center;
    font-weight: 400;
}

.boton-flecha>a{
    color: #000;

}
.boton-flecha:hover{
    background-color: rgb(17, 151, 168);
    border: 5px solid #000;
    font-weight: 600;
}





/*footer*/
.footer{
    grid-area: footer;
    display: grid;

    background-color: var(--clr-gray);
    color: #081a39; 
}
.contenedorFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer__title{
    text-align: center;
    text-transform: capitalize;
    font-size: 1em;
}
.footer__title:hover{
    translate: 25px;
}
.footer__info{
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.footer__info a{
    padding: 5px;
    margin: auto;
    color: #000;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 400;
    transition: .3s;
}

.footer__info a:hover{
    transform: scale(1.2);
    border-bottom: 2px solid #000;
}

.footer__logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid #000;
}

.logos_title{
    margin: auto;
    font-size: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.5em;
}

.logos {
    padding: 10px ;
} 


.foolog{
    width: 40px;
    height: 40px;
    transition: .3s;
}


.foolog:hover{
    transform: scale(1.2);
}


.firma-pag{
    background-color: var(--clr-black-trns);
    color: #fff;
    text-align: center;
}

.footer .firma-pag >p {
    padding: 5px;
    font-size: 8px;
}

