@charset "UTF-8";
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.str0 {stroke:#9900CC;stroke-width:0.9;stroke-miterlimit:22.9256}
.fil2 {fill:black}
.fil1 {fill:#000066}
.fil0 {fill:#FF0066}
.fnt0 {font-weight:normal;font-size:624.99px;font-family:'Arial'}
